<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
      
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

	
  
  </head>
  <body>
 <header class="intro">
 

 <div class="action">
 </div>
 </header>
  
      
 <main>
 <div class="container">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cartModal">
    View Cart
  </button>  
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
          Your Shopping Cart
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25">
                <img src="https://th.bing.com/th/id/R.f2cf52c0868ef93de2c02da1b43d5436?rik=szfggGRqvO2wrw&riu=http%3a%2f%2fc.shld.net%2frpx%2fi%2fs%2fi%2fspin%2f-122%2fprod_1481632512%3f%3fhei%3d64%26wid%3d64%26qlt%3d50&ehk=9FLs1MZGfK%2fjU5SUES6psSsnVJkzfZCU8ipYms9A1i0%3d&risl=&pid=ImgRaw&r=0" class="img-fluid img-thumbnail" alt="Sheep">
              </td>
              <td>Vans Sk8-Hi MTE Shoes</td>
              <td>89$</td>
              <td class="qty"><input type="text" class="form-control" id="input1" value="2"></td>
              <td>178$</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table> 
        <div class="d-flex justify-content-end">
          <h5>Total: <span class="price text-success">89$</span></h5>
        </div>


        <div class="wrapper">
          <div class="container">
              <form action="">
                  <h1>
                      <i class="fas fa-shipping-fast"></i>
                      Shipping Details
                  </h1>
                  <div class="name">
                      <div>
                          <label for="f-name">First</label>
                          <input type="text" name="f-name">
                      </div>
                      <div>
                          <label for="l-name">Last</label>
                          <input type="text" name="l-name">
                      </div>
                  </div>
                  <div class="street">
                      <label for="name">Street</label>
                      <input type="text" name="address">
                  </div>
                  <div class="address-info">
                      <div>
                          <label for="city">City</label>
                          <input type="text" name="city">
                      </div>
                      <div>
                          <label for="state">State</label>
                          <input type="text" name="state">
                      </div>
                      <div>
                          <label for="zip">Zip</label>
                          <input type="text" name="zip">
                      </div>
                  </div>
                  <h1>
                      <i class="far fa-credit-card"></i> Payment Information
                  </h1>
                  <div class="cc-num">
                      <label for="card-num">Credit Card No.</label>
                      <input type="text" name="card-num">
                  </div>
                  <div class="cc-info">
                      <div>
                          <label for="card-num">Exp</label>
                          <input type="text" name="expire">
                      </div>
                      <div>
                          <label for="card-num">CCV</label>
                          <input type="text" name="security">
                      </div>
                  </div>
                  
                  </div>
              </form>
          </div>
      </div>
  
          <div class="button">
            <button onclick="location.href='checkout.html'" style='width:100px;margin:0 50%;position:relative;left:-50px;'>Confirm and Pay</button>
          </div>
          <br>
      </div>
      </div>

      



      <div class="modal-footer border-top-0 d-flex justify-content-between">
        
        
      </div>
    </div>
  </div>
</div>


 </main>


<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script  src="script.js"></script> 
      
  </body>
</html>
