<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      
      <link rel="stylesheet" href="style2.css">
   </head>
   <body>
    
      </header>
      <!--$%adsense%$-->
      <main class="cd__main">
        
         <div class="jumbotron text-center">
            <center>
  <h1 class="display-3" class="center">Thank You!</h1>

  <img src="https://th.bing.com/th/id/OIP.CKU4sef_3EgoKAGOSUmZTQHaHa?rs=1&pid=ImgDetMain" class="center">
  <p class="lead"><strong>Your order is processing. Please check your email for more information!</p>
  <hr>
  
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="#" role="button">Continue to homepage</a>
  </p>
</center>
</div>

      </main>

      
      <!-- Script JS -->
      <script src="./js/script.js"></script>
      <!--$%analytics%$-->
   </body>
</html>
